p {
  color: grey;
}

/* Navbar */
.nav-item {
  display: none; 
} 

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vh;
}


/* Bookmark */
.bookmark-container-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-right: 3vw;
}

.bookmark-img {
  display: none;
}

.bookmark-img-mobile {
  margin-left: 3vw;
  margin-top: 2vh;
  width: 90%;
}

.bookmark-text {
  color: gray;
}

.bookmark-title {
  font-size: 26px;
  text-align: center;
}

/* Features */
.fetature-btn-container{
  display: flex;
  flex-direction: column;
}

.feature-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 20vh;
}

.feature-text {
  color: gray;
}

.feature-title {
  font-size: 26px;
}

/* Bookmark oneclick */
.bookmark-oneclick-btn {
  display: none;
}

.bookmark-oneclick-container {
  display: flex;
  flex-direction: column;
  padding-top: 4vh;
  text-align: center;
}

.bookmark-oneclick-img {
  margin-left: 3vw;
  width: 90%;
}

.bookmark-oneclick-title {
  font-size: 26px;
}

/* Download */
.download-btn {
  background: mediumslateblue;
  color: white;
  font-size: 16px;
}

.download-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  text-align: center;
}

.download-container-item-one, .download-container-item-two, .download-container-item-three{
  padding-bottom: 12vh;
}

.download-title {
  font-size: 26px;
}

/* FAQ */
.accordion {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 12vh;
  text-align: center;
  width: 85vw;
}

.accordion h1{
  text-align: center;
  color: white;
}

.accordion-btn {
  background: white;
  cursor: pointer;
  /* border-block-end-style: groove; */
  border-width: thin;
  text-align: left;
  outline: none;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.accordion-moreinfo-btn {
  align-self: center;
  background: mediumslateblue;
  color: white;
  font-size: 16px;
  margin-top: 6vh;
  width: 100px;
}

.active, .accordion-btn:hover {
  background-color: rgb(40, 40, 121);
}

.panel {
  max-height: 0;
  overflow: hidden;
  margin: 0 auto; 
  transition: max-height .2s ease-out;
  margin-left: 0;
}

.panel p {
  padding-left: 0px;
  margin-left: 0px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

/* Info */
.info-btn {
  background: indianred;
  border: none;
  color: white;
  padding-bottom: 2vh;
  padding-top: 2vh;
}

.info-container {
  background: mediumslateblue;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 6vh;
  padding-top: 6vh;
  text-align: center;
}

.info-input {
  margin-bottom: 2vh;
}

.info-input-button-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  width: 70%;
}

.info-text-one {
  padding-bottom: 2vh;
}

.info-text-two {
  font-size: 26px;
  padding-bottom: 2vh;
}

/* Footer */
.footer-container {
  align-items: center;
  background: rgb(135, 135, 216);
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 3vh;
  padding-top: 3vh;
  text-align: center;
}






/* MEDIA QUERIES ************************************************/
@media(min-width: 768px) {
/* Navbar */
.hamburger-menu {
  display: none;
}

.nav-item {
  color: darkslategrey;
  display: inline-block;
  margin-left: 3vw;
}

.nav-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.navbar {
  margin-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 20vw;
  padding-bottom: 6vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3vh;
}


/* Bookmark */
.bookmark-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 6vh;
  margin-left: 10vw;
  margin-right: 5vw;
}

.bookmark-container-left {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6vh;
  width: 35%;
}

.bookmark-img {
  display: inline-block;
  margin-left: 6vw;
  width: 400px;
}

.bookmark-img-mobile {
  display: none;
}

.bookmark-title {
  font-size: 30px;
}

/* Features */
.fetature-btn-container{
  flex-direction: row;
}
.feature-container {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.feature-text {
  color: gray;
  margin-bottom: 6vh;
  width: 30%;
}


/* Bookmark oneclick */
.bookmark-oneclick-btn {
  display: inline-block;
}

.bookmark-oneclick-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 6vh;
  margin-left: 10vw;
  padding-top: 0;
}

.bookmark-oneclick-img {
  margin-left: 0;
  margin-right: 3vw;
  width: 400px;
}

.bookmark-oneclick-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}


/* Download */
.download-container-bottom {
  display: flex;
  flex-direction: row;
}

.download-container-item-one, .download-container-item-two {
  margin-right: 4vw;
}

.download-container-item-one, .download-container-item-two, .download-container-item-three{
  padding-bottom: 0;
}

.download-container-item-two {
  margin-top: 6vh;
}

.download-container-item-three {
  margin-top: 9vh;
}


/* FAQ */
.accordion {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.accordion-btn {
  width: 40%;
}

.accordion-moreinfo-btn {
  margin-top: 4vh;
}

.info-container {
  align-items: center;
  background: blueviolet;
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 4vh;
  padding-top: 3vh;
}

.footer-container {
  background: darkblue;
  color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 6vh;
  padding-left: 10vw;
  padding-top: 4vh;
}
}